name: Build ainakan-core mingw devkit
on:
  push:
    tags:
      - v*.*.*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install python3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install necessary packages
        run: sudo apt update && sudo apt install -y golang nodejs npm git g++-mingw-w64-x86-64 gcc-mingw-w64-x86-64
      - name: Download ainakan
        run: |
          git clone https://github.com/ainakan/ainakan.git fainakan && cd fainakan/
          python3 tools/ensure-submodules.py ainakan-core
      - name: Build ainakan-core
        env:
          CC: x86_64-w64-mingw32-gcc
          CXX: x86_64-w64-mingw32-g++
        run: |
          cd fainakan/subprojects/ainakan-core
          ./configure --host=x86_64-w64-mingw32 --without-prebuilds=sdk:host --with-devkits=core 
          make
          mkdir /tmp/ainakan-core-devkit
          cp ./build/src/devkit/* /tmp/ainakan-core-devkit/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ainakan-core-devkit-windows-x86-64
          path: /tmp/ainakan-core-devkit/
  compile:
    runs-on: windows-latest
    needs:
      - build
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Install MinGW toolchain
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-go
            mingw-w64-x86_64-python
            git
            zip
      - name: Download libainakan-core.a
        uses: actions/download-artifact@v4
        with:
          name: ainakan-core-devkit-windows-x86-64
          path: ainakan-core-devkit
      - name: Clone ainakan-go and ainakan-go-examples
        run: git clone https://github.com/ainakan/ainakan-go.git && git clone https://github.com/NSEcho/ainakan-go-examples.git
      - name: Extract devkit
        run: zip -r ainakan-core-devkit.zip ainakan-core-devkit
      - name: Prepare for building
        run: |
          ls -l
          cp ainakan-core-devkit/libainakan-core.a /mingw64/lib/
          cp ainakan-core-devkit/ainakan-core.h /mingw64/include/
          cp ainakan-go-examples/list_devices/list_devices.go ainakan-go/main.go
      - name: Build and run example program
        env:
          CGO_ENABLED: 1
        run: |
          cd ainakan-go
          go build -o ll main.go && ./ll
    
